.discus {
  width: 96%;
  margin: 0.24rem auto 1rem;
}

.talk {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 0.12rem;
  font-size: 0;
}

.talk-pic-container {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.talk-pic {
  width: 33px;
  height: 33px;
  background-size: 33px auto;
  border-radius: 33px;
  border: 2px solid #fff;
  margin-top: 0;
  display: inline-block;
}

.talk-text {
  width: 80%;
  display: inline-block;
  margin: 0.08rem 0 0.12rem;
  font-size: 0.3rem
}

.ayname {
  color: #f66061;
  font-size: 0.3rem
}

.time {
  text-align: right;
}

.aytime {
  color: #b3b3b3;
  font-size: 0.3rem;
  float: right;
}
