html {
  font-size: 312.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.36rem;
}

#main_pic {
  height: 0;
  width: 100%;
  padding-bottom: 80%;
  overflow: hidden;
}

#main_pic img {
  width: 100%;
}

.wrapper {
  width: 92%;
  margin: 0 auto;
  padding: 0 0 1rem;
}

.author{
  width: 100%;
  height: 66px;
}

.personal-pic {
  width: 44px;
  height: 44px;
  background-size: 44px auto;
  border-radius: 44px;
  border: 2px solid #fff;
  display: inline-block;
  margin-top: 0.2rem;
  vertical-align: top;
}

.name{
  color: #fd4644;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.54rem;
  margin-left: 0.12rem;
  font-size: 0.3rem;
}

.time{
  color: #b3b3b3;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.54rem;
  float: right;
  margin-right: 0.18rem;
  font-size: 0.3rem;
}

.introduce p{
  margin-top: 0.16rem;
}

h1 {
  color: #282f1e;
  font-size: .48rem;
  margin-top: .4rem;
  margin-bottom: 0;
}

.shadow {
  background: #f5f5f5;
  height: 1rem;
  overflow: hidden;
  margin: 0.2rem 0;
}

h2 {
  color: #3d1f27;
  font-size: .36rem;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ingredients li {
  border-bottom: 1px solid #ccc;
  padding: 0.18rem 0.2rem;
}

.ingredients li:first-child {
  border-top: solid 1px #cccccc;
}

.ingredients .amount {
  float: right;
  width: .6rem;
}

.step {
  counter-reset: step-num;
}

.step li:before {
  counter-increment: step-num;
  content: counter(step-num);
  display: inline-block;
  vertical-align: top;
  width: 0.36rem;
  height: 2rem;
  font-weight: bold;
  font-size: 0.36rem;
}

.step li {
  margin-top: 0.5rem;
  font-size: 0;
}

.step li .text{
  font-size: 0.36rem;
}

.talk{
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 0.12rem;
}

.text {
  width: 57%;
  display: inline-block;
}

.step-pic {
  padding-bottom: 36%;
  height: 0;
  width: 36%;
  vertical-align: top;
  display: inline-block;
}

.step-pic img {
  width: 100%;
}

.talk-pic {
  width: 33px;
  height: 33px;
  background-size: 33px auto;
  border-radius: 33px;
  border: 2px solid #fff;
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

.talk-text{
  display: inline-block;
  margin: 0.08rem 0 0.12rem 0.24rem;
}

.ayname {
  color: #f66061;
}

.more
{
  text-align: center;
  margin-bottom: 0.48rem;
}
.btn-talk{
  width: 50px;
  height: 30px;
  font-size: 0.12rem;
  border-radius: 12px;
  border: 2px solid #fff;
}

.comment_editor{
  border: 1px solid #ccc;
  border-top: none;
  width: 84%;
  display: inline-block;
  vertical-align: bottom;
}

.comment_editor p{
  width: 100%;
  background-color: #fafafa;
  margin-bottom: 0.1rem;
  padding: 0 2%;
  margin-left: -2%;
  margin-top: 0;
}

.comment_editor p:focus{
  outline: none;
}

.entypo-paper-plane{
  font-size: 0.36rem;
  margin-left: 0.24rem;
  display: inline-block;
  vertical-align: bottom;
}
