html {
  font-size: 312.5%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.36rem;
}

#main_pic {
  height: 0;
  width: 100%;
  padding-bottom: 80%;
  overflow: hidden;
}

#main_pic img {
  width: 100%;
}

.wrapper {
  width: 92%;
  margin: 0 auto;
  padding: 0 0 1rem;
}

.author{
  width: 100%;
  height: 66px;
}

.personal-pic {
  width: 44px;
  height: 44px;
  background-size: 44px auto;
  border-radius: 44px;
  border: 2px solid #fff;
  display: inline-block;
  margin-top: 0.2rem;
  vertical-align: top;
}

.name{
  color: #fd4644;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.54rem;
  margin-left: 0.12rem;
  font-size: 0.3rem;
}

.author .time{
  color: #b3b3b3;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.54rem;
  float: right;
  margin-right: 0.18rem;
  font-size: 0.3rem;
}

.introduce p{
  margin-top: 0.16rem;
}

h1 {
  color: #282f1e;
  font-size: .48rem;
  margin-top: .4rem;
  margin-bottom: 0;
}

.shadow {
  background: #f5f5f5;
  height: 1rem;
  overflow: hidden;
  margin: 0.2rem 0;
}

h2 {
  color: #3d1f27;
  font-size: .36rem;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ingredients li {
  border-bottom: 1px solid #ccc;
  padding: 0.18rem 0.2rem;
}

.ingredients li:first-child {
  border-top: solid 1px #cccccc;
}

.ingredients .amount {
  float: right;
  width: .6rem;
}

.step {
  counter-reset: step-num;
}

.step li:before {
  counter-increment: step-num;
  content: counter(step-num);
  display: inline-block;
  vertical-align: top;
  width: 0.36rem;
  height: 2rem;
  font-weight: bold;
  font-size: 0.36rem;
}

.step li {
  margin-top: 0.5rem;
  font-size: 0;
}

.step li .text{
  font-size: 0.36rem;
  width: 57%;
  display: inline-block;
}

.talk{
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 0.12rem;
  font-size: 0;
}

.step-pic {
  padding-bottom: 36%;
  height: 0;
  width: 36%;
  vertical-align: top;
  display: inline-block;
}

.step-pic img {
  width: 100%;
}

.talk-pic-container{
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.talk-pic {
  width: 33px;
  height: 33px;
  background-size: 33px auto;
  border-radius: 33px;
  border: 2px solid #fff;
  margin-top: 0;
  display: inline-block;
}

.talk-text{
  width: 80%;
  display: inline-block;
  margin: 0.08rem 0 0.12rem ;
  font-size: 0.3rem
}

.ayname{
  color: #f66061;
  font-size: 0.3rem
}
.time{
  text-align: right;
}
.aytime{
  color: #b3b3b3;
  font-size: 0.3rem;
  float: right;
}

.more
{
  text-align: center;
  margin-bottom: 0.48rem;
}
.btn-talk{
  width: 50px;
  height: 30px;
  font-size: 0.24rem;
  border-radius: 12px;
  border: 2px solid #fff;
}

.comment_editor{
  border: 1px solid #ccc;
  border-top: none;
  width: 84%;
  vertical-align: text-bottom;
}


.comment_editor p{
  width: 100%;
  background-color: #fafafa;
  margin-bottom: 0.1rem;
  padding: 0 2%;
  margin-left: -2%;
  margin-top: 0;
}

.comment_editor p:focus{
  outline: none;
}

.entypo-paper-plane{
  font-size: 0.36rem;
  position: absolute;
  right: 0;
  bottom: 0;
}

.big-pic{
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  top: 0;
}

.big-pic img{
  height: 100%;
  width: 100%;
}

.comment{
  position: relative;
}

/*share css*/
.share {
  max-width: 600px;
  height: 100px;
  margin: 0 auto;
  -webkit-filter: url("#goo");
  filter: url("../share.html#goo");
  position: relative;
}

.share-button,
.share-toggle-button {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  background: #ccc;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}

.share-button:hover,
.share-toggle-button:hover {
  color: #fff;
}

.share-button {
  font-size: 30px;
  background: #737070;
  -webkit-transform: scale(0.95, 0.95);
  transform: scale(0.95, 0.95);
  color: #222;
}

a.share-button {
  color: #3D4444;
}

a.share-button:hover,
a.share-button:focus {
  color: #dfd7d7;
}

.share-toggle-button {
  z-index: 9;
  background: #666;
  font-size: 20px;
}

.share-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.share-item {
  display: inline-block;
}
