.friends_list {
  color: #7B7B7F;
  padding: 0 4%;
  width: 92%;
  overflow: hidden;
}

.friends_list li {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate3D(1rem,0,0);
  transform: translate3D(1rem,0,0);
  opacity: 0;
  font-size: 0;
  padding: 0.2rem 0.24rem;
  border-bottom: 1px solid #eee;
}

.friends_list li > div {
  display: inline-block;
  vertical-align: top;
  font-size: 0.28rem;
}

.friends_list .avatar {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  overflow: hidden;
}

.friends_list .info {
  padding-left: 0.2rem;
  line-height: 0.6rem;
}

.friends_list .info .user_name {
  color: #6b6b6f;
  width: 4rem;
  overflow: hidden;white-space: nowrap;
  text-overflow: ellipsis;
}

.friends_list .info .sign {
  width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.friends_list .sex {
  font-weight: 900;
  font-size: 0.36rem;
  text-shadow: 2px 2px 3px;
}

.blue {
  color: deepskyblue;
}

.red {
  color: indianred;
}
