body {
  background-color: #f8f6f5;
}

.wrapper {
  color: #7B7B7F;
  padding: 4%;
}

.list_section {
  margin-bottom: 1rem;
}

.list_section li {
  position: relative;
  padding: 0.16rem 0;
  border-top: 1px solid #ccc;
  font-size: 0;
}

.list_section li:first-child {
  border-top: none;
}

.list_section .section_header {
  margin: 0;
  font-size: 0.4rem;
  padding-left: 0.16rem;
}

.list_section li > * {
  vertical-align: top;
  display: inline-block;
  font-size: 0.36rem;
}

.list_section li .pic_wrap {
  width: 28%;
  max-width: 100px;
  height: 80px;
  background: 50% 50% no-repeat;
  background-size: cover;
  margin-left: 0.16rem;
}

.list_section li .info {
  width: 65%;
}

.list_section .info .title {
  text-indent: 0.12rem;
}

.list_section .info .from {
  position: absolute;
  margin: auto 0;
  top: 0;
  bottom: 0;
  text-indent: 0.12rem;
  color: #999;
  height: 0.4rem;
  font-size: 0.28rem;
  max-width: 3.8rem;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list_section .the_heat {
  position: absolute;
  bottom: 0.16rem;
  right: 0;
  color: #ba906a;
  font-size: 0.24rem;
  width: 76%;
  text-align: right;
}

.list_section .the_heat > * {
  display: inline-block;
  padding: 0 0.24rem;
}

.list_section .the_heat .num {
  font-weight: bold;
}

.list_section .item_link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#banner {
  background: #000 no-repeat center;
  background-size: cover;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

#banner .banner_detail {
  position: relative;
  top: 0;
  background-color: rgba(81,81,81,.8);
  width: 100%;
  height: 100%;
  text-align: center;
  color: #D3D3D3;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#banner .banner_detail.small {
  bottom: 90%;
  height: 10%;
}

#banner .cookbook_name.small {
  position: absolute;
  top: 0;
  left: 0.12rem;
}

#banner .author.small {
  position: absolute;
  top: 0;
  right: 0.12rem;
}

#banner a {
  position: relative;
  margin-top: 1rem;
  display: inline-block;
}

/* blink_text */
.blink_text {
  color: #282828;
  font-weight: 400;
  font-size: 0.48rem;
  overflow: hidden;
  padding: 0 0 10px;
}

.blink_text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-width: 2px 0;
  border-color: #D3D3D3;
  border-style: solid;
  left: 0;
  -webkit-transform: translate3d(-101%,0,0);
  transform: translate3d(-101%,0,0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.blink_text.play::before {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.blink_text span {
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
}

.blink_text.play span {
  color: #D3D3D3;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
  transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.blink_text span:nth-child(4),
.blink_text.play span:first-child {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.blink_text span:nth-child(3),
.blink_text.play span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.blink_text span:nth-child(2),
.blink_text.play span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.blink_text span:first-child,
.blink_text.play span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
