body {
  overflow: hidden;
}

h2 {
  margin: 0;
  text-align: center;
}

.wrapper {
  height: 100%;
  transition: transform 0.5s ease;
}

.wrapper .form_sec {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
}

.wrapper .form_sec .content {
  display: table-cell;
  vertical-align: middle;
}

.form_sec .content form {
  width: 100%;
  overflow: hidden;
}

.form_detail {
  width: 92%;
  margin: 0 auto;
}

.slider {
  width: 200%;
  font-size: 0;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.slider.show_second {
  transform: translateX(-50%);
}

.slider .second_step .note {
  margin-top: 0.24rem;
  font-size: 0.24rem;
}

.slider > div {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 0.36rem;
}

.form_sec .content p {
  transition: opacity 0.2s ease, transform 0.4s ease;
  transform: translateY(0.6rem);
  opacity: 0;
}

#login p {
  transform: translateY(-0.6rem);
}

#login p.show {
  transform: translateY(0);
}

.form_sec .content p.show {
  transform: translateY(0);
  opacity: 1;
}

.form_sec .content p:first-child {
  transition-delay: 0.2s;
}

.form_sec .content p:nth-child(2) {
  transition-delay: 0.25s;
}

.form_sec .content p:nth-child(3) {
  transition-delay: 0.3s;
}

.form_sec .content p:nth-child(4) {
  transition-delay: 0.35s;
}

.form_sec .content p:nth-child(5) {
  transition-delay: 0.4s;
}

.form_sec .content p:nth-child(6) {
  transition-delay: 0.45s;
}

.form_sec .content p.dash_side {
  border: 1px #999;
  border-style: none solid solid;
  padding-bottom: 0.06rem;
}

label {
  display: none;
}

.inline_label {
  display: inline;
}

.second_step label,
.second_step .field {
  margin-bottom: 0.12rem;
}

input:focus {
  outline: none;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  display: block;
  position: relative;
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  border: none;
  background-color: #f2f2f2;
  padding: 0 4%;
  margin-left: -2%;
}

input[type="radio"] {
  visibility: hidden;
  margin-right: 0.6rem;
}

input[type="radio"]:after {
  content: '';
  visibility: visible;
  display: inline-block;
  width: 0.28rem;
  height: 0.28rem;
  border: 2px solid #7B7B7F;
  border-radius: 100%;
}

input[type="radio"]:checked:after {
  border-style: double;
  background-color: #7B7B7F;
}

select {
  border: none;
  background-color: #fff;
}

#login {
  background-color: #f2f2f2;
  color: #7B7B7F;
}

.btn_wrapper {
  text-align: right;
}

button {
  background-color: #9acccd;
  color: #fff;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  font-weight: bold;
  font-size: 0.36rem;
  width: 100%;
  height: 0.7rem;
  border-radius: 5px;
}

.switcher {
  position: absolute;
  bottom: 0.24rem;
  right: 0.24rem;
}

.prev_step {
  float: left;
}

#register {
  background-color: #f2f2f2;
  color: #7B7B7F;
}
