body {
  background-color: #f2f2f2;
}

.moments_list {
  padding-bottom: 0.24rem;
}

.moment_item {
  background-color: #fff;
  padding: 0.12rem 0.24rem 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 0.24rem;
}

.post_info {
  font-size: 0;
}

.post_info > * {
  display: inline-block;
  font-size: 0.36rem;
}

.post_info .avatar {
  width: 0.72rem;
  height: 0.72rem;
  margin-right: 0.12rem;
}

.post_info .avatar img {
  width: 100%;
  height: 100%;
}

.post_info .post_time {
  color: #999;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.24rem;
}

.post_content {
  margin-top: 0.2rem;
}

.post_content .post_text {
  font-size: 0.28rem;
  line-height: 0.36rem;
}

.post_content .post_img {
  margin-top: 0.12rem;
}

.post_img a {
  display: inline-block;
}

.post_img img {
  vertical-align: bottom;
  height: 2.16rem;
}

.social_toolbar {
  font-size: 0;
  display: flex;
  padding: 0.2rem 0 0;
}

.social_toolbar li {
  position: relative;
  display: inline-block;
  width: 33%;
  font-size: 0.36rem;
  color: #999;
  -webkit-box-flex: 1;
  flex: 1;
  text-align: center;
  padding: 0.12rem 0;
}

.social_toolbar li:after {
  content: '';
  position: absolute;
  top: 0.18rem;
  right: 0;
  height: 0.28rem;
  border-left: 1px solid #ccc;
}

.social_toolbar li:last-child:after {
  border: none;
}

.social_toolbar li .icon {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.social_toolbar li.used .icon {
  color: #b486ff;
}

.duang {
  -webkit-animation: duang 1s;
  animation: duang 1s;
}

@keyframes duang {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes duang {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
