html body{
  height: 100%;
}

.big-pic{
  height: 80%;
}

.header{
  background-color: #000000;
  color: #ffffff;
  height: 12%;
  text-align: center;
  line-height: 1.25rem;
  font-size: 0.36rem;
}

.step-pic{
  height: 100%;
  position: relative;
}
.step-pic ol{
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;

}

.step-pic ol li{
  width: 100%;
  height: 100%;
  display: none;
}

.step-pic ol li.selected{
  display: block;
}

.step-pic ol li img{
  height: 100%;
  width: 100%;
}

.detail{
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-color: #464646;
  color: #ffffff;
  opacity: 0.6;
}

.footer{
  background-color: #000000;
  height: 8%;
}
