.food_image{
  text-align: center;
  height: 3.6rem;
  line-height: 3.6rem;
  background-color: #67625e;
}
.entypo-camera{
  font-size: 0.96rem;
  color: #fff;
}
.wrapper{
  margin: 0.18rem auto 0;
  width: 96%;
}
.food_name{
  border:1px solid #e1e1e1;
  border-radius: 3px;
  height: 0.44rem;
  width: 98%;
  padding: 2px;
}

.food_intro{
  border:1px solid #e1e1e1;
  border-radius: 3px;
  width:98% ;
  margin-top: 0;
  vertical-align: bottom;
}
h3{
  color: #c58baa;
  margin-bottom: 0.12rem;
}
.food_material{
  list-style: none;
  padding: 0;
}
.one_piece{
  width: 48.5%;
}
.amount_material{
  width: 48.5%;
  border-left: none;
}
